/* /////////////
general setting
///////////////// */
html {
    margin: 0;
    padding: 0;
    font-family:Helvetica, sans-serif;
    font-weight: 100;
}

body {
    margin:0;
    min-height: 100vh;
    background-color: rgb(247, 250, 253);
}

.icon{
    color: rgb(222, 0, 222);
    margin-right: 10px;
}

section{
    display: block;
    padding: 30px 10px;
    width: 100%;
}

h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding:0;
}

p{
  margin: 0;
  padding: 0;
}

/* ////////////////////////
site header
/////////////////////// */

#header {
  background-color: white;
}

/* //////////////////////
card styling
///////////////////// */

#feed .card{
  width: 100%;
  max-width: 400px;
  margin: 30px auto;
  border: solid rgb(233, 233, 233) 1px;
  border-radius: 5px;
  background-color: white;
  padding-bottom: 1rem;
}

#feed span{
  float: right;
  padding: 10px;
  font-size: 14px;
  color: rgb(167, 167, 167);
}

#feed p{
  font-size: 12px;
  color: rgb(86, 86, 86);
}


/* //////////////// */
 /* card title */

 #feed .card-title{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#feed .user-info{
  display: flex;
  align-items: center;
}

#feed .user-info i{
  font-size: 1.6rem;
  margin-right: 0.5rem;
}

#feed .menu i{
  font-size: 1.7rem;
}

#feed .user-info p{
  padding: 0px;
  margin: 0px;
}

/* card image  */

#feed img{
  width: 100%;
  margin-bottom: 0.5rem;
}


/* card description */
.icon-description{
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  margin-bottom: 1rem;
}

.icon-description i{
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  margin-right: 0.2rem;
}

.icon-description i:last-of-type{
  margin-right: 0rem;
}

.card-description p{
  margin-bottom: 0.5rem;
  padding: 0rem 1em;
}
