/* /////////////
general setting
///////////////// */
html {
    margin: 0;
    padding: 0;
    font-family:Helvetica, sans-serif;
    font-weight: 100;
}

body {
    margin:0;
    min-height: 100vh;
    background-color: rgb(247, 250, 253);
}

.icon{
    color: rgb(222, 0, 222);
    margin-right: 10px;
}

section{
    display: block;
    padding: 3rem 1rem;
    width: 100%;
}

h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding:0;
}

p{
  margin: 0;
  padding: 0;
}



/* /////////////////////////
BOOTSTRAP
//////////////////////// */
.container-fluid {
  padding: 0px 0px;
  background: rgb(255, 255, 255);
  background: linear-gradient(318deg, rgba(41, 217, 220, 0.764) 0%, rgba(253, 187, 45, 0.551) 100%);
}



/* ////////////////////////
site header
/////////////////////// */

#header {
  background-color: white;
}

/* //////////////////////
card styling
///////////////////// */

.card{
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  border: solid rgb(233, 233, 233) 1px;
  border-radius: 5px;
  background-color: white;
  padding-bottom: 1rem;
}

.card span{
  float: right;
  padding: 1rem ;
  font-size: 1.2rem;
  color: rgb(167, 167, 167);
}

.card p{
  font-size: 0.75rem;
  color: rgb(86, 86, 86);
}


/* //////////////// */
 /* card title */

 .card .card-title{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0rem;
}

.card .user-info{
  display: flex;
  align-items: center;
}

.card .user-info i{
  font-size: 2.5rem;
  margin-right: 0.5rem;
}

.card .menu i{
  font-size: 1.9rem;
}

.card .user-info p{
  padding: 0px;
  margin: 0px;
}

/* card image  */

.card img{
  width: 100%;
  margin-bottom: 1rem;
}


/* card description */
.icon-description{
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  margin-bottom: 1rem;
}

.icon-description i{
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  margin-right: 0.2rem;
}

.icon-description i:last-of-type{
  margin-right: 0rem;
}

.card-description p{
  margin-bottom: 0.5rem;
  padding: 0rem 1em;
}
